/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('./img/bank.png'); /* Add the background image here */
    background-size: cover; /* This will ensure the background image covers the entire page */
    background-position: center center; /* This will center the background image */
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
    
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #0072bb;
}

/* Navigation Bar Styles */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #0072bb;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 15px;
}

nav ul li a:hover {
    background-color: #005f8a;
    border-radius: 5px;
}

/* Form Section */
.form-section {
    margin-top: 20px;
}

input[type="text"], input[type="number"], select {
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #0072bb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005f8a;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    background-color: #0072bb;
    color: white;
}
